!*.c 
!*.h
*.bak 
*.ddk 
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o 
*.d 
*.axf 
*.tra 
*.dep           
JLinkLog.txt 
*.iex 
*.htm 
*.sct 
*.map 
*.log
*.pdf
/.vscode
*.uvguix.*
Middlewares/ST/STemWin/Software